body {
    background-color:#0c0c0c;
}

.nav a {
    color:#f1f1f1 !important;
    transition: all .5s ease-out;
}

.navbar-header a {
    color:#f1f1f1 !important;
    padding-right:100px;
    transition: all .5s ease-out;
}

.nav a:hover, .navbar-header a:hover {
    color: #ffa500;
    transition: all .5s ease-out;
}

.text-center {
    text-align:center;
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Ubuntu', sans-serif;
    color: #f1f1f1 !important;
}

h1 {
    line-height:80px;
    font-weight:900;
    font-size:60px;
    padding:30px 20px 10px 20px;
}
h2 {
    line-height:40px;
    font-weight:400;
    font-size:18px;
     padding:20px 20px 10px 20px;
     text-transform:uppercase;
}
h3 {
    line-height:30px;
    padding-bottom:20px;
}
h4 {
    line-height:40px;
    padding-bottom:15px;
}

p {
    font-weight:300;
    line-height:30px;
    padding-bottom:20px;
}

.space-free {
    height:100px;
}


section {
    padding-top:50px;
    padding-bottom:30px;
}

/*=======================================
    COLOR CODES
==================================================*/
.color-white {
   background-color:#F1F1F1!important;
}
.color-dark {
   background-color:#0C0C0C!important;
}

.color-light {
   background-color:#E9E9E9!important;
}

/*=======================================
    HEADER STYLES
==================================================*/
.head-main {
    font-size:80px !important;
    font-weight:900!important;
    color:#fff!important;
    padding:150px 20px 10px 20px;
}
.head-sub-main {
    font-size:2rem !important;
    font-weight:500!important;
    color:#fff!important;
    padding:5px 20px 150px 20px;
}

.head-main span, .head-sub-main span {
    color: #ffa500 !important;
}


/*=======================================
    NAVIGATION STYLES
==================================================*/


nav {
	position: absolute;
	width: 100%;
    background: #fff;
    z-index:99;
}
.fixed {
	position: fixed; 
	top: 0; 
	min-height: 50px; 
	z-index: 99;
}

.navbar-inverse {
background-color: #000000;
border-color: #F1F1F1;
min-height: 80px;
padding-top: 10px;
font-size: 18px;
}
.navbar-brand {

font-size: 30px;
}

/*=======================================
    WORK FLOW STYLES
==================================================*/


.work-div {
	width: 100%;
	border: 0;
    padding:20px;
    margin-bottom:30px;
}
/*=======================================
    CONTACT STYLES
==================================================*/

#social-icon a {
    color:#616161!important;
    margin-right:10px;
    transition: all .5s ease-out;
}

#social-icon a {
    color:#ffa500 !important;
    margin-right:10px;
    transition: all .5s ease-out;
}

.contact-cls {
    font-size:20px;
    line-height:40px;
}
.cnt {
width: 100%;
min-height: 350px;
border: 1px solid #e1e1e1;
}
/*=======================================
    FOOTER STYLES
==================================================*/


#footer {
    background-color:#000;
    color:#fff;
    padding:20px 50px 20px 50px;
    text-align:right;
}